<form action="answer">
  <h1>ask-a-coach</h1>
  <input
    type="text"
    name="answer"
    value="<%= params[:answer] %>"
    placeholder="Enter a question..."
    id="search-bar">
  <input type="submit" value="Send" id="search-btn">
</form>
